* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    height: 45%;
    background-color: hsl(217, 19%, 24%);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    border-radius: 10px;
}

.card h3{
    letter-spacing: 3px;
    color:  hsl(150, 100%, 66%);
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.bottom svg:nth-child(2){
    display:none;
}

.btn {
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    bottom: 155px; 
    transform: translateX(-50%); 
    width: 55px;
    padding: 12px;
    border-radius: 40px;
    max-width: 200px; 
    box-shadow: 0 0 20px hsl(171, 38%, 86%);
    background-color: hsl(150, 100%, 66%);
}

.btn svg{
    margin-top: 4px;
}

@media only screen and (max-width: 768px) {
    
    .card {
        width: 95%;
        height: 45%;
        background-color: hsl(217, 19%, 24%);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .bottom svg:first-child{
       display: none; 
    }
    .bottom{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .bottom svg:nth-child(2){
        display: block;
    }

}